@import ../../css/mixins.sass

.MiniClips
  background: rgba(0,0,0,0.60)
  top: 150px
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50)
  height: 50px
  left: calc(50% - 200px)
  position: absolute
  width: 400px

  .clip
    background: rgba(215,215,215,0.50)
    border: 1px solid black
    float: left
    height: 100%
    width: 25%
    &.active
      background: rgba(255,255,255,1)
