@import ../../css/mixins.sass

.ClipSequencer
  background-color: #A09C97
  border-radius: 4px
  height: calc(100% - 120px)
  margin: 100px 20px 20px 20px
  opacity: 0.9
  transition: all 0.3s ease-in-out
  width: calc(100% - 40px)

  .clipTriggers
    background-color: #F58E99
    border-radius: 4px
    float: left
    height: calc(100% - 40px)
    margin: 20px 0 20px 20px
    position: relative
    transition: all 0.3s ease-in-out
    width: calc(70% - 40px)

    .Trigger
      background-color: #FFFFFF
      height: calc((100% - 90px) / 8)
      margin: 10px
      position: relative
      width: calc(100% - 20px)

      &:last-child
        margin-bottom: 10px

      .trackBackground
        float: left
        height: calc(100% - 10px)
        margin: 5px 0 5px 5px
        width: calc(10% - 5px)

      p.trackNumber
        @extend %vertical-align
        font-size: 22px
        text-align: center

      .TriggerMiniClips
        background: rgba(0,0,0,0.20)
        float: left
        height: calc(100% - 10px)
        margin: 5px
        width: calc(90% - 10px)

        .clip
          background: rgba(215,215,215,0.50)
          border: 1px solid black
          float: left
          height: 100%
          width: 25%
          &.active
            background: rgba(255,255,255,1)

  .sequences
    background-color: #6AC6D6
    border-radius: 4px
    float: left
    height: calc(100% - 40px)
    margin: 20px
    position: relative
    transition: all 0.3s ease-in-out
    width: calc(30% - 20px)

    .sequenceWrap
      height: 100%
      width: 100%

    .addSequence
      background-color: #6AA7CE
      border: 1px solid black
      border-radius: 4px
      color: #FFFFFF
      font-size: 18px
      height: calc((100% - 90px) / 8)
      margin: 10px
      position: relative
      width: calc(100% - 20px)

    .sequenceList
      background-color: #FFFFFF
      border-radius: 4px
      height: calc(((100% - 20px) / 8) * 7)
      margin: 0 10px 10px 10px
      overflow-y: auto
      transition: all 0.3s ease-in-out
      width: calc(100% - 20px)

      .sequenceItem
        background-color: #FFFFFF
        border: 1px solid #88CCAC
        border-radius: 4px
        margin: 10px
        height: calc((100% - 20px) / 8)
        width: calc(100% - 20px)

        p
          @extend %vertical-align
          cursor: pointer
          text-align: center
